html, body{
    padding: 0;
    margin: 0%;
    height: 100%;
}
img{
    max-width: 300px;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, auto) 100px;
}
header .logo{
    width: 50px;
}
header .logo img{
    width: 100%;
}
header nav{
    width: 60px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.corpo{
    text-align: center;
}

.parceiros1, .parceiros2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parceiros1 img, .parceiros2 img{
    margin: 10px 0;
    width: 130px;
}
.destaques{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destaques img{
    margin: 10px 0;
}
footer{
    text-align: center;
}
@media(min-width:360px){
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px repeat(3,auto) 100px;
        grid-template-areas: "a a" "b b" "c d" "e" "f";
    }
    header{
        grid-area:"a";
    }
    .corpo{
        grid-area:"b";
    }
    .parceiros{
     grid-area:"c";   
    }
    .parceiros2{
     grid-area:"d";   
    }
    .destaques{
     grid-area:"e";   
    }
    footer{
     grid-area:"f";   
    }
}
@media(min-width:1070px){
    body{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 120px auto auto 100px;
    }
}
