html, body{
    padding: 0;
    margin: 0%;
    height: 100%;
}
img{
    max-width: 300px;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, auto) 100px;
}
header .logo{
    width: 50px;
}
header .logo img{
    width: 100%;
}
header nav{
    width: 60px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.corpo{
    text-align: center;
}

.parceiros1, .parceiros2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.parceiros1 img, .parceiros2 img{
    margin: 10px 0;
    width: 130px;
}
.destaques{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destaques img{
    margin: 10px 0;
}
footer{
    text-align: center;
}
@media(min-width:360px){
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px repeat(3,auto) 100px;
    }
	
	header{
		grid-column:1/ span 2;
		flex-direction: row;
		justify-content: space-between;
	}

	header nav {
		width:180px;
	}
	
	.corpo {
		grid-column: 1/ span 2;
		display:flex;
		flex-wrap:nowrap;

	}
	
	.corpo p , .corpo img{
		width:45%;
}

         .container{
	display:flex;
	flex-wrap;wrap;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.parceiros1{
		grid-column:1/1;
}


.parceiros2{
	grid-column:2/2;
}

.parceiros1 img, .parceiros2 img{
    width: 33%;
	text-align:center;
}

.parceiros1 , .parceiros2{
	    justify-content: center;

} 

.destaques{
		grid-column:1/ span 2;
		flex-direction: row;
		justify-content:center;
}

.destaques img{
    max-width: 33%;
}

footer{
		grid-column: 1 / span 2;
		text-align:center;
}

}

@media(min-width:1070px){
    body{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 120px auto auto 100px;
		}
		
		.corpo {
		grid-column: 2 / span 1;

	}
	
		header{
		grid-column:1/ span 3;
		}

	.parceiros2{
	grid-column:3/3;
}

.parceiros1, .parceiros2{
	grid-row:2/2;
	flex-direction:column;
	align-items:center;
}

.destaques{
		grid-column:1/ span 3
}

footer{
		grid-column: 1 / span 3;
		text-align:center;
}
	}
